.userMenu {
  display: flex;
  gap: 35px;
}

.link {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.active {
  background-color: #034c9a;
}
